/* #field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00ff00;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#ball {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  transition: all 1s;
} */

/* body {
  margin: 10px auto;
  width: 470px;
}
h3 {
  margin: 0;
  padding-bottom: 0.3em;
  font-size: 1.1em;
}
p {
  margin: 0;
  padding: 0 0 0.5em;
}
.pane {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
}
.remove-button {
  font-size: 110%;
  color: darkred;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
} */
